//Container + MediaBreakpoints
@use 'sass:math';
$containerWidth: 1240;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

//Colors
$mainColor: #7000FF;
$accentColor: #33c;
$darkGray: rgba(0,0,0,0.70);
$lightGray: #62656A;

//Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: $mainColor;
$burgerActiveColor: #fff;